{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    <h2>
        Add/Edit post
    </h2>

    {% if message != "" %}
        <h3>
            {{ message }}
        </h3>
    {% else %}
        {{ form(form) }}
    {% endif %}

{% endblock %}